---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="What I'm working on"
	pubDate={new Date('September 08 2024')}
>
  <div>
  <p>A software engineer with a passion for understanding the dark side of the digital world</p>
  <p>
  </p>
  </div>
</Layout>
