---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en" class="dark">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 900px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="text-center">
						<div class="date">
              <h1 class="md:text-7xl text-4xl">
                $ <span>whoami</span> zurtix
              </h1>
						<hr class="m-0"/>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
